<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">

      <!-- Header -->
      <header>
        <h1 style="font-size: 1.75rem;">
          <a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a>
        </h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
      </header>

      <!-- Navigation -->
      <nav class="navbar">
        <a href="{{ "/" | relative_url }}">Home</a>
        <a href="{{ "/team" | relative_url }}">The Team</a>
        <a href="{{ "/survey" | relative_url }}">The Survey</a>
        <a href="{{ "/hackathon" | relative_url }}">The Hackathon</a>
        <a href="{{ "/posters" | relative_url }}">Posters</a>
        <a href="{{ "/articles" | relative_url }}">Articles and Reports</a>
      </nav>

      <!-- Main content -->
      <section>
        {{ content }}
      </section>

<footer class="site-footer">
  <table class="footer-table">
    <tr>
      <td class="footer-logo">
        <img src="{{ "/assets/images/UCL-Grand-Challenges.jpg" | relative_url }}" alt="Footer Logo" />
      </td>
      <td class="footer-text">
        <p>Contact us at: <a href="mailto:heclimateperspectives@gmail.com">heclimateperspectives@gmail.com</a></p>
        <p>A project funded by UCL 'Grand Challenges - Climate Crisis' </p> Academic Year 2024-25</p>
      </td>
    </tr>
  </table>
</footer>


    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
